footer{

    background-color: $color-black-0;
    color: $color-white-0;
    padding: 0 20px;

    // topic
    .topic__detail{
        .row{
            margin: 0 auto;
        }
    
        h2{
            font-size: $fs-3;
        }

        ul li{
            list-style-type: none;
            
        }


        li a{
            color: #999999;
            text-decoration: none;
            transition: all .5s;
        }

        li:hover a{
            color: $color-blue-0;
        }
        
    }

    .topic__text{
        padding: 0;

        a{
           
                color: #999999;
            
        }
    }

    .topicHr{
            
        border: 0;
        margin: 30px -1px;
       
        border-bottom: 0.5px solid $color-gray-3;
    }

    // stay
    .footer__stay{
        color: #999999;
        
        h2{
            color: $color-white-0;
        }

        .stay__form{
            input{
                background-color: $color-gray-2;
                color: $color-white-0;
                border: none;
                border-radius: 0;
            }
            button{
                background-color: $color-black-2;
                color: #999999;
                border: none;
            }
        }

        .stay__right{
            ul{
                display: flex;
                li{
                    list-style-type: none;
                    margin-right: 40px;
                }
                a{
                    color:#999999;
                    font-size: 24px;
                    transition: all .5s;
                }
                a:hover{
                    color: $color-blue-1;
                }
            }
        }
    }

    // img
    .footer__img{
       
        img{
            width: 100%;
        }
    }

    // advance
    .footer__advance{
        ul li{
            display: inline;
        }

        .advance__right li{
            margin-right: 10px;
        }
    }

    // menu

    .footer__menu{
        position: fixed;
        right: 0;
        bottom: 50%;

        ul li{
            width: 274px;
            background-color: $color-black-2;
            list-style-type: none;

            transform: translateX(230px);
            transition: all .7s;

            margin-bottom: 2px;
        }

        ul li:hover{
            transform: translateX(0);
        }

        li a{
            color: $color-white-0;
            text-decoration: none;
            line-height: 44px;
            font-size: 22px;
            text-align: center;

            margin: 10px;
        }

        a span{
            margin-left: 20px;
        }

         
        
    }
      // <768
      @include responsive('medium'){
        .footer__menu{
            ul li{
                transform: translateX(210px);
            }
        }
    }
    
    // <576
    @include responsive('small'){
        .footer__menu{
            display: none;
        }
    }

    // menuMobile
    .footer__menuMobile{
       position: fixed;
       bottom: 10px;
        left: 0;
        opacity: 0;
        width: 100%;
       ul{
           display: flex;
           justify-content: center;
           width: 100%;
          
       }

       li{
           
           list-style-type: none;

           text-align: center;
           background-color: $color-black-2;

           border-top-left-radius: 3px;
           margin-right: 3px;
           a{
               color: $color-white-0;
    
           }

           i{
            font-size: 22px;
            height: 44px;
            line-height: 44px;
           }

           span{
               display: block;
            line-height: 20px;
            margin-top: -8px;
            text-align: center;
            width: 100%;
           }
       }
    }

   

    // <576px
    @include responsive('small'){
        .footer__menuMobile{
            opacity: 1;
        }
    }
}

